*.iml
*.zip
*.7z
*.tar
*.jks
*.pepk
*.bin
*.a
*.so
*.ttf

google_api.json
Onlyoffice-keystore.properties
local.properties
facebook_id.xml

.gradle
/.idea
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/extras/libs
