<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="app.editors.manager"
    android:installLocation="internalOnly">

    <application>
        <activity
            android:name=".ui.activities.main.OnBoardingActivity"
            android:exported="true"
            android:taskAffinity=""
            android:launchMode="singleInstance"
            android:theme="@style/AppTheme.Launcher"
            android:windowSoftInputMode="adjustPan|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcut" />
        </activity>
    </application>

</manifest>