<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:installLocation="internalOnly">

    <application>
        <activity
            android:name="app.editors.manager.ui.activities.main.OnBoardingActivity"
            android:exported="true"
            android:taskAffinity=""
            android:launchMode="singleInstance"
            android:theme="@style/AppTheme.Launcher"
            android:windowSoftInputMode="adjustPan|stateHidden">
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcut" />
        </activity>
    </application>

</manifest>