<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="app.editors.manager"
    android:installLocation="internalOnly">

    <!--    <permission android:name="com.onlyoffice.documents.ACCOUNTS" />-->

    <uses-permission android:name="${applicationId}.permission.WRITE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="${permissionId}.permission.WRITE" />
    <uses-permission android:name="${permissionId}.permission.READ" />

    <uses-permission android:name="com.google.android.gms.permission.AD_ID" tools:node="remove"/>

    <queries>
        <provider
            android:authorities="com.onlyoffice.projects.accounts"
            tools:ignore="ExportedContentProvider" />
    </queries>

    <queries>
        <package android:name="com.onlyoffice.projects" />
    </queries>

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <meta-data
        android:name="firebase_crashlytics_collection_enabled"
        android:value="false" />
    <meta-data
        android:name="com.samsung.android.keepalive.density"
        android:value="true" />
    <meta-data
        android:name="com.samsung.android.multidisplay.keep_process_alive"
        android:value="true" />

    <permission
        android:name="${applicationId}.permission.WRITE"
        android:description="@string/permission_account_write_description"
        android:label="@string/permission_account_write_label"
        android:protectionLevel="signature" />
    <permission
        android:name="${applicationId}.permission.READ"
        android:description="@string/permission_account_read_description"
        android:label="@string/permission_account_read_label"
        android:protectionLevel="signature" />

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:configChanges="orientation|screenSize|smallestScreenSize|density|screenLayout|uiMode|keyboard|keyboardHidden|navigation"
        android:extractNativeLibs="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name_full"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:resizeableActivity="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ui.activities.login.PortalsActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:launchMode="standard"
            android:theme="@style/NoActionBarTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.activities.login.SignInActivity"
            android:launchMode="singleTask"
            android:theme="@style/NoActionBarTheme"
            android:windowSoftInputMode="adjustResize|stateUnchanged">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="app.editors.manager.ui.activities.login.PortalsActivity" />
        </activity>
        <activity
            android:name=".ui.activities.main.MainActivity"
            android:exported="true"
            android:filterTouchesWhenObscured="true"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleTask"
            android:clearTaskOnLaunch="true"
            android:supportsPictureInPicture="true"
            android:theme="@style/NoActionBarTheme"
            android:windowSoftInputMode="adjustResize|adjustPan|stateAlwaysHidden">
            <!--            <intent-filter android:label="@string/upload_to_portal">-->
            <!--                <action android:name="android.intent.action.SEND" />-->

            <!--                <category android:name="android.intent.category.DEFAULT" />-->

            <!--                <data-->
            <!--                    android:host="*"-->
            <!--                    android:mimeType="application/*" />-->
            <!--            </intent-filter>-->
            <!--            <intent-filter android:label="@string/upload_to_portal">-->
            <!--                <action android:name="android.intent.action.SEND" />-->

            <!--                <category android:name="android.intent.category.DEFAULT" />-->

            <!--                <data-->
            <!--                    android:host="*"-->
            <!--                    android:mimeType="video/*" />-->
            <!--            </intent-filter>-->
            <!--            <intent-filter android:label="@string/upload_to_portal">-->
            <!--                <action android:name="android.intent.action.SEND" />-->

            <!--                <category android:name="android.intent.category.DEFAULT" />-->

            <!--                <data-->
            <!--                    android:host="*"-->
            <!--                    android:mimeType="image/*" />-->
            <!--            </intent-filter>-->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="openfile"
                    android:scheme="oodocuments" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.main.ShareActivity"
            android:configChanges="screenSize"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:theme="@style/NoActionBarTheme"
            android:windowSoftInputMode="adjustResize|stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="app.editors.manager.ui.activities.main.MainActivity" />
        </activity>
        <activity
            android:name=".ui.activities.main.StorageActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:theme="@style/NoActionBarTheme"
            android:windowSoftInputMode="adjustResize|stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="app.editors.manager.ui.activities.main.MainActivity" />
        </activity>
        <activity
            android:name=".ui.activities.main.OperationActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:theme="@style/NoActionBarTheme"
            android:windowSoftInputMode="adjustPan|stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="app.editors.manager.ui.activities.main.MainActivity" />
        </activity>
        <activity
            android:name=".ui.activities.main.WebViewerActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="orientation|screenSize|smallestScreenSize|density|screenLayout|uiMode|keyboard|keyboardHidden|navigation|locale|layoutDirection"
            android:filterTouchesWhenObscured="true"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:process=":WebViewerActivity"
            android:supportsPictureInPicture="true"
            android:theme="@style/WebViewerActivityStyle"
            android:windowSoftInputMode="adjustResize|stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="app.editors.manager.ui.activities.main.MainActivity" />
        </activity>
        <activity
            android:name=".ui.activities.login.NextCloudLoginActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="orientation|screenSize|smallestScreenSize|density|screenLayout|uiMode|keyboard|keyboardHidden|navigation|locale|layoutDirection"
            android:hardwareAccelerated="true"
            android:launchMode="singleInstance"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name=".ui.activities.main.MediaActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout"
            android:launchMode="singleTask"
            android:process=":MediaActivity"
            android:theme="@style/MediaTheme"
            android:windowSoftInputMode="adjustPan|stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="app.editors.manager.ui.activities.main.MainActivity" />
        </activity>
        <activity
            android:name=".ui.activities.main.AboutActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:theme="@style/NoActionBarTheme"
            android:windowSoftInputMode="adjustPan|stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="app.editors.manager.ui.activities.main.MainActivity" />
        </activity>

        <activity
            android:name=".ui.activities.main.PasscodeActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden"
            tools:ignore="LockedOrientationActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="app.editors.manager.ui.activities.main.MainActivity" />
        </activity>
        <activity
            android:name=".ui.activities.main.OnBoardingActivity"
            android:exported="true"
            android:theme="@style/AppTheme.Launcher"
            android:windowSoftInputMode="adjustPan|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.login.AuthAppActivity"
            android:launchMode="singleTop"
            android:theme="@style/NoActionBarTheme"
            android:windowSoftInputMode="adjustPan|stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.login.SignInActivity" />
        </activity>
        <activity
            android:name=".ui.activities.login.WebDavLoginActivity"
            android:launchMode="singleTop"
            android:theme="@style/NoActionBarTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".ui.activities.main.CloudsActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/NoActionBarTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.activities.main.AccountsActivity"
            android:theme="@style/NoActionBarTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.activities.main.SettingsActivity"
            android:theme="@style/NoActionBarTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.activities.main.FilterActivity"
            android:theme="@style/NoActionBarTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="com.dropbox.core.android.AuthActivity"
            android:configChanges="orientation|keyboard"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <!-- Using a Manifest Placeholder to hide our app key -->
                <data android:scheme="db-${dropboxKey}" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service
            android:name=".managers.services.AuthenticatorService"
            android:exported="false">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>
            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>

        <service
            android:name=".managers.services.MessageService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>

            <meta-data
                android:name="com.google.firebase.messaging.default_notification_icon"
                android:resource="@drawable/ic_notify" />
            <meta-data
                android:name="com.google.firebase.messaging.default_notification_color"
                android:resource="@color/colorTransparent" />
        </service>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.asc.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <provider
            android:name=".managers.tools.AccountContentProvider"
            android:authorities="com.onlyoffice.accounts"
            android:enabled="true"
            android:exported="true" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="${facebookId}" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_notify" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorTransparent" />
        <meta-data
            android:name="com.facebook.sdk.ClientToken"
            android:value="${facebookId}" />
    </application>

</manifest>